body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: rgb(59, 57, 57);
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: rgb(59, 57, 57);
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-produtos .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #afafaf;
}

.section-title {
    font-family: 'Roboto Condensed', sans-serif;
}


#sobre-a-loja, #produtos {
    background-color: #afafaf;
}

.text-colored {
    color: rgb(59, 57, 57);
}

.nav-produtos .nav-link.active,
#fale-conosco button {
    background-color: rgb(59, 57, 57);
    color: #fff;
}

.nav-produtos .nav-link:hover {
    color: rgb(59, 57, 57);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px
    }
}